<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/jfaMan" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/allanjs.photography/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
    <p>|</p>
    <p>AJS Studios</p>
  </div>
</div>
