<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to lists_path, class: "nav-link" do %>
    <div class="d-flex justify-content-center align-items-center">
      <i class="fas fa-camera"></i>
      <div class="ml-1">AJS Studios</div>
    </div>
  <% end %>
  <div class="navbar" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", lists_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>