<div class='container mt-5 text-center'>
  <h1>About</h1>
  <img class='about-pic' src="https://avatars.githubusercontent.com/u/80769492?v=4" alt="Me">
  <div class="about-info">
    <p>This is my first project built at Le Wagon Tokyo. It's a simple web app that curates movies into watchlists using <a href="https://developers.themoviedb.org/3/getting-started/introduction" target="_blank"><em>The Movie Database (TMDB) API</em></a>.</p>
  </div>
</div>
