<div class='container mt-5 text-center'>
  <h1>About Me</h1>
  <img class='about-pic' src="https://avatars.githubusercontent.com/u/80769492?v=4" alt="Me">
  <div class="about-info">
    <p>This is my first project built at Le Wagon Tokyo. It's a basic web app that curates movies into watchlists using an API.</p>
    <p>Copyright ©2021 Allan Szewczyk</p>
  </div>
</div>
