.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.9;
  }
}

.card-category-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card-category i {
  color: rgba(255, 255, 255, 0.5);

  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}
