.card-body {
  text-align: center;
  h5 {
    font-family: 'Josefin Sans', sans-serif;
  }
  p {
    font-family: 'Roboto', sans-serif;
  }
}

.card-body-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: larger;
}


.card i {
  color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    font-size: x-large;
  }
}