.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // height: 8vh;
  position: sticky;
  top: 0;
  z-index: 1;
  .nav-link {
    color: rgba(0,0,0,1);
    padding: 8px;
    font-family: $headers-font;
    .nav-logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    :first-child {
      font-weight: bolder;
    }
    i {
      font-size: 18px;
      padding-bottom: 2px;
    }
  }
  .navbar-nav{
    flex-direction: row;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@media (max-width: 575px) {
  .navbar-lewagon .nav-link {
    padding-left: 0;
  }
  .nav-logo {
    font-size: 14px;
  }
  .navbar-right {
    font-size: 14px;
    :nth-child(2) :first-child {
      padding-right: 0;
    }
  }
}