// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media (max-width: 576px) {

  // index

  .banner {
    padding: 90px 0 100px 0;
    h1 {
      font-size: 40px;
    }
    i {
      font-size: 44px;
    }
    p {
      font-size: 16px;
    }
  }
  .cards {
    grid-template-columns: 1fr 1fr !important;
    .card-category {
      height: 160px;
      h3 {
        font-size: 20px;
      }
    }
  }
  .footer {
    padding: 0;
    .footer-content {
      display: block;
      .footer-links {
        justify-content: center;
      }
      .footer-break {
        display: none;
      }
      p {
        font-size: 14px;
      }
    }
  }

  // new

  .form {
    width: auto;
    margin: 20px;
  }
}